ion-content{
  --background:#E1DEFB;
}
h2{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #1e1e1e;
}
ion-icon{
  color:#4B6B54;
}

input{
  display: block;
  margin: auto;
  border-radius:20px ;
  background-color: white;
  width: 300px;
  padding: 10px;
  color: black;
  border-style: none;
}

ion-textarea{
  height: 136px;
  width: 300px;
  margin: auto;
  background-color: white;
  color: #1e1e1e;
  border-radius: 20px;
  padding: 0px 10px 10px 10px
}


ion-button{
  width: 130px;
  height: 29px;
  border-radius: 20px;
  text-align: center;
  color: black;
  background-color: white;
  margin: auto;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
}

ion-grid{
  max-width: 300px;
}

ion-row{
  display: flex;
  justify-content: space-evenly;
}

a{
  float: right;
  font-size: 20px;
  text-decoration: none;
  color:#4B6B54;
}

.d-flex{
  display: flex;
  align-items: center;
}
