<ion-header>

</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <ion-icon name="checkmark-circle" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="ellipsis-horizontal-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="create-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="ellipsis-horizontal-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="cash-outline" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>



  <h2>Title</h2>
  <input  type="text" placeholder="text">



  <h2>description</h2>
  <ion-textarea placeholder="Text" [autoGrow]="true"></ion-textarea>



  <h2>Category</h2>
  <ion-grid>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Horror
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Comics
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          design
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Science
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Database
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Economy
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Comedy
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          SCI-FI
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Romance
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Fiction
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Law
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Pharma
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Autotech
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Pedagogy
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="clear" shape="square">
          Engineering
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
<ion-grid>
  <ion-row>
    <ion-col class="d-flex">
      <a  class="d-flex" routerLink="/tabs/tab2" routerDirection="root">Back
        <ion-icon  slot="start" name="arrow-back-outline"></ion-icon>
      </a>
    </ion-col>
    <ion-col>
      <a  class="d-flex" routerLink="/tabs/condition" routerDirection="root">Next
        <ion-icon class="arrow" slot="end" name="arrow-forward-outline"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

