<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon  name="globe-outline" ></ion-icon><p class="text-color ion-margin-start">English</p>
    <ion-icon name="information-circle" slot="end" ></ion-icon>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="margin-top" src="assets/img/StuTrade-logo.png">
        </ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col class="ion-text-center ion-margin text-color" >
      <p>
        Trade your knowledge, Sell your<br> books, fund someone's education.
      </p>
    </ion-col>
  </ion-grid>

  <ion-grid>
    <ion-col>
      <ion-button routerLink="/tabs/tab3" routerDirection="root"  expand="full" shape="round" >Continue with Google
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col class="ion-justify-content-center">
      <ion-button routerLink="/tabs/tab3" routerDirection="root"  expand="full" shape="round" >Continue with Facebook
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-grid>
  <ion-col class="text-color d-flex ">
    <a routerLink="/tabs/tab3" routerDirection="root">
      Continue with email
    </a>
  </ion-col>
</ion-content>
