ion-content{
  --background:#E1DEFB;
}
ion-item{
  --background: ;
  --border-style:none;
}
.text-color{
  color: #4B6B54;
}
.margin{
  margin: 50px;
}
.margin1{
  margin-top: 15px;
}
.text-color1{
  color: #DE2727;
}
.m-l{
  margin-left: 15px;
}
