<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="ion-margin">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label class="text-color"> Kenneth K. Hansen </ion-label>
  </ion-item>
      <p class="text-color ion-text-center margin">Settings</p>

  <ion-item>
    <ion-label class="text-color m-l">
      Upload/change  profile picture
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Language
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Message
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Favorite
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Posts
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Support
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color m-l">
      Privacy Policy
    </ion-label>
  </ion-item>

  <ion-item class="margin1">
    <ion-label class="text-color m-l">
      <a routerLink="/tabs/login" routerDirection="root" >Log Out</a>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="text-color1 m-l">
      Delete account
    </ion-label>
  </ion-item>
</ion-content>
