<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col class="ion-flex">
        <ion-icon name="chatbox-outline" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-item class="ion-margin">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label class="text-color"> Kenneth K. Hansen </ion-label>
  </ion-item>

  <h1>Sig du kan li’ mig</h1>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col >
        <ion-card class="w-h">
          <ion-img class="obj-c" src="assets/img/20231030_105145.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="d-flex">
    <ion-icon name="ellipsis-horizontal-outline" size="large">
    </ion-icon>
  </ion-col>
  <ion-textarea [readonly]="true" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex scipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum."></ion-textarea>
  <ion-grid class="d-flex">
    <ion-row>
      <ion-col>
        <ion-button>Design</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Good</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-col class="d-flex">
    <ion-button>Can Send</ion-button>
  </ion-col>


    <ion-button id="open-modal" expand="block">Contact Seller</ion-button>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Message</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-textarea
            placeholder="Write your message here"
            [clearOnEdit]="true"
          ></ion-textarea>
        </ion-content>
      </ng-template>
    </ion-modal>


</ion-content>

