<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><ion-searchbar ></ion-searchbar>
      </ion-col>
      <ion-col size="auto" class="mt">
        <div style="width: 40px"><ion-icon  name="chatbox-outline" class="icon-color" size="large"></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
    <ion-icon name="options-outline" class="ion-margin-start icon-color" size="large" ></ion-icon>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
         <ion-img  src="assets/img/20231030_105140.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
        <ion-card>
          <ion-img src="assets/img/20231030_105140.jpg">
          </ion-img>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Kort 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="stien-til-billede-1.jpg"></ion-img>
      <p>Beskrivelse af kort 1.</p>
      <ion-icon name="star"></ion-icon>
      <p>Pris: $10</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-content>
      <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
      <p>Beskrivelse af kort 2.</p>
      <ion-icon name="heart-outline" class="icon"></ion-icon>
      <p class="text-card">Pris: $15</p>
    </ion-card-content>
  </ion-card>
</ion-content>
