ion-content{
  --background:#E1DEFB;
}
ion-searchbar{
  --background: #ffffff;
  --border-radius: 20px;
}
ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
ion-card{
  border-radius: 20px;

}
.icon-color{
  color: #4B6B54;
}

.card {
  display: inline-block;
  width: 100%;
}

ion-card-content {
  text-align: center;
  padding: 0;
  color: #4B6B54;
}

ion-card-content ion-img {
  max-height: 200px;
  margin: 0 auto;
}


ion-card-content ion-img {
  max-height: 100%;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px 20px;
  --background: ;
}
ion-card{
  --background: ;
  --border-style: none;
  box-shadow: none;
}

.icon {
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: red;
}

.text-card{
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #6284FF;
  background-color: #D9D9D9;
  width: 50%;
  border-radius: 20px;
}

