<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col><ion-searchbar ></ion-searchbar>
      </ion-col>
      <ion-col size="auto" class="mt">
        <div style="width: 40px"><ion-icon  name="chatbox-outline" class="icon-color" size="large"></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
    <ion-icon name="options-outline" class="ion-margin-start icon-color" size="large" ></ion-icon>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
          <ion-card-content>
            <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
            <p class="c-b">Graphic design</p>
            <ion-icon name="heart-outline" class="icon"></ion-icon>
            <p class="text-card">200,-</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
          <ion-card-content>
            <ion-img src="assets/img/sincerely-media-CXYPfveiuis-unsplash.jpg"></ion-img>
            <p>Milk and honey</p>
            <ion-icon name="heart-outline" class="icon"></ion-icon>
            <p class="text-card">55,-</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
            <ion-card-content>
              <ion-img src="assets/img/mukul-joshi-ApOkwverSmU-unsplash.jpg"></ion-img>
              <p>Thinking,fast and slow</p>
              <ion-icon name="heart-outline" class="icon"></ion-icon>
              <p class="text-card">135,-</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
          <ion-card-content>
            <ion-img src="assets/img/annie-spratt-ahoVacMUrj8-unsplash.jpg"></ion-img>
            <p>Book of the Damned</p>
            <ion-icon name="heart-outline" class="icon"></ion-icon>
            <p class="text-card">460,-</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
          <ion-card-content>
            <ion-img src="assets/img/20231030_105145.jpg"></ion-img>
            <p>Sig du kan li’ mig</p>
            <ion-icon name="heart-outline" class="icon"></ion-icon>
            <p class="text-card">Bid</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card routerLink="/tabs/book" routerDirection="root" class="card">
          <ion-card-content>
            <ion-img src="assets/img/20231030_105140.jpg"></ion-img>
            <p>Graphic design</p>
            <ion-icon name="heart-outline" class="icon"></ion-icon>
            <p class="text-card">Bid</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
